body{
height: 100vh;
width: 100vh;
margin:0rem;
position: cover;
overflow: hidden;
user-select: none;
background-color: rgba(0, 0, 0, 0.932);
}
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    user-select: none;
    
}
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute; left: 50%; top: 50%; transform: translate(-100%, -50%);
    object-position: 0% 50% ;
    
        user-select: none;
    
}
